/*
   This is a secondary default stylesheet for mPDF
   It will only parse element-level CSS here 
   Remove the comment marks below and edit as required
*/



/* 
   These values used to be the default prior to mPDF 4.2
   Altered to make appearance closer to that of browsers
   Uncomment these lines to return to behaviour prior to v4.2  
*/


table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 20px;
    width: 100%;
}
tr {
    padding: 3px 0;
}

th {
    background-color: #CCCCCC;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-family: helveltica;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-top: 5px;
    text-align: left;
}
td {
    border: 1px solid #CCCCCC;
    padding: 3px 7px 2px;
    font-size: 0.8 em;
}
.numero{
    text-align: right;
}